<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="DebugFileRolling" type="log4net.Appender.RollingFileAppender">
    <file  value="log/logger.log"/>
    <rollingStyle value="Size" />
    <maximumFileSize value="50MB"/>
    <maxSizeRollBackups value="3"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd-MM-yyyy HH:mm:ss.ff} [%thread] %-5level : %message%newline" />
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="DTOFile" />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value=":ClientSLJP" />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value=":PersistentPrivateKey" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>
  <appender name="AuditFileRolling" type="log4net.Appender.RollingFileAppender">
    <file  value="log/audit.log"/>
    <rollingStyle value="Size" />
    <maximumFileSize value="50MB"/>
    <maxSizeRollBackups value="3"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
    <filter type="log4net.Filter.StringMatchFilter">
      <stringToMatch value="[AUDIT]" />
      <acceptOnMatch value="true" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="AuditFileRolling" />
    <appender-ref ref="DebugFileRolling" />
  </root>
</log4net>
